.fe-app-drag {
    -webkit-app-region: drag;
}

.fe-app-no-drag {
    -webkit-app-region: no-drag;
}

.fe-loader {
    transition: opacity 1s ease, z-index 1.5s ease;
    z-index: -500;
    opacity: 0;
}

.fe-loading .fe-loader {
    z-index: 1000;
    opacity: 1;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.uk-flex.uk-flex-column {
    height: 100%;
    overflow: hidden;
}

.uk-flex.uk-flex-column > :first-child {
    flex: 0 0 auto;
}

.uk-flex.uk-flex-column > :last-child {
    flex: 1 1 100%;
    overflow: hidden;
}

.fe-navbar .uk-navbar-item {
    min-height: auto;
}

.fe-content > *,
.fe-content > * > *{
    height: 100%;
    overflow: hidden;
}

.fe-content nav {
    min-width: 45px;
}

.fe-content header::before {
  content: '';
  position: absolute;
  display: block;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #1e87f0;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 1s ease;
}

.fe-waiting .fe-content header::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.uk-breadcrumb > * > :focus,
.uk-breadcrumb > * > :hover {
    color: #1e87f0;
}

.uk-breadcrumb > :nth-child(n+2):not(.uk-first-column)::before {
    margin: 0 5px;
}

.fe-scroll {
    overflow: auto !important;
}

.uk-card {
	cursor: pointer;
}

.uk-card-body h3 > input{
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: -1;
    position: relative;
    color: inherit;
}

.uk-card-body h3 > input:focus{
    position: static;
}