<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>FoxExplorer</title>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css" rel="stylesheet">
		<link href="assets/css/index.css" rel="stylesheet">
		<script src="https://kit.fontawesome.com/c4c899c4b5.js"></script>
	</head>
	<body class="fe-loading">

		<div class="fe-loader uk-position-cover uk-background-muted uk-flex uk-flex-center uk-flex-middle">
			<h1 class="uk-heading-xlarge uk-text-primary uk-margin-remove">
				FoxExplorer
			</h1>
		</div>

		<div class="fe-wrap">

			<section class="fe-navbar fe-app-drag uk-navbar-container" uk-navbar uk-sticky>
				<div class="uk-navbar-left">
					<div class="uk-padding-small uk-text-primary">
						<span class="fas fa-folder uk-margin-small-right"></span>
						FoxExplorer
					</div>
				</div>
				<div class="uk-navbar-right">
					<control></control>
				</div>
			</section>
			
			<section class="fe-content uk-grid-collapse" uk-grid uk-height-viewport="offset-top: true">

				<div class="fe-app-drag uk-tile-muted uk-width-auto uk-visible@s"></div>
				<div class="uk-width-1-1 uk-width-expand@s">
					
					<header class="fe-app-drag uk-section uk-section-muted uk-section-xsmall uk-padding-remove-top" uk-sticky="offset: 54" >
						<div class="uk-container uk-container-xsmall uk-container-expand">
							<nav>
								<h2 class="uk-margin-remove uk-h1">{{ oCurrentDirectory.sName }}</h2>
								<ul class="fe-app-no-drag uk-breadcrumb uk-margin-remove">
									<li v-for="(sDirectory, nIndex) in oCurrentDirectory.aDirectory">
										<a v-on:click="openParentDirectory(oCurrentDirectory.aDirectory.length - nIndex)" href="#">{{ sDirectory }}</a>
									</li>
								</ul>
							</nav>
						</div>
					</header>
			
					<main class="uk-section uk-section-xsmall">
						<div class="uk-container uk-container-xsmall uk-container-expand">
							<fe-alert ref="oAlert"></fe-alert>
							<list-item
								v-for="oFile in aSortedSubFiles"
								v-bind:key="oFile.nId"
								v-bind:o-file="oFile"

								v-on="{
									open: openFile,
									rename: renameFile,
									move: moveFile,
									delete: deleteFile
								}"
							></list-item>
						</div>
					</main>
				</div>
			</section>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js"></script>
		<script src="assets/js/index.js"></script>
	</body>
</html>